<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>StellarNPO</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/index">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://slides.com/vmchan/insightdatascienceweek3/">Slides</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
<br><br> 
    

  </div> <!-- /.container-->

    <div class="container">
      <div class="intro-header">
        <h2> The probability of NPO {{ npoid }} surviving next year is:</h2>
      
        <h2> {{ score }}%</h2>
      </div>
     

     </div><!-- /.container -->

    <div class="container">
      <div class="row">
        
        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_total_assets.png')}}" width = "600" height = "450">
            </div>    
          </div>
        </div>

        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_total_expenses.png')}}" width = "600" height = "450">
            </div>    
          </div> 
        </div>
      </div>

      <div class="row">
        
        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_gov_grants.png')}}" width = "600" height = "450">
            </div>    
          </div> 
        </div> 


        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_wages_total.png')}}" width = "600" height = "450">
            </div>    
          </div> 
        </div> 
      
      </div> 

      <div class="row">

        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_revenue_total.png')}}" width = "600" height = "450">
            </div>    
          </div> 
        </div> 
       
      
        <div class="col-md-6">
          <div class= "media">
            <div class = "media-left">
              <img class="media-object" src = "{{url_for('return_image',filename='img/npo_other_liability.png')}}" width = "600" height = "450">
            </div>    
          </div> 
        </div> 
      </div>   

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

     </div><!-- /.container -->  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>