<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>StellarNPO</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Load c3.css -->
    <link href="../static/css/c3.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="../static/js/d3.js" charset="utf-8"></script>
    <script src="../static/js/c3.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/index">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://slides.com/vmchan/insightdatascienceweek3/">Slides</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
<br><br> 
    

  </div> <!-- /.container-->

<div class="intro-header">
    <div class="container">
        <h2> The probability of NPO {{ npoid }} surviving next year is:</h2>
      
        <h2> {{ score }}%</h2>
      </div>
     

     </div><!-- /.container -->
    <div class="container">

      <div class="row top-buffer">
        
        <div class="col-md-6">
        <h3 align="center"> <span style="color:#0db14b"> Total Revenue </spna></h3>
        <div id="chart5">
          <script type="text/javascript">
          var chart5 = c3.generate({
          bindto: '#chart5',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ revenue_total|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { 
                text: 'Total Revenue (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { 
                text: 'Year',
                position: 'outer-center',
                //padding: {top: 200, bottom: 200}
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#0db14b']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
          </script>
        </div>
       
        </div>
      
        <div class="col-md-6">
        <h3 align="center"> <span style="color:#b10d21">Total Expenses </span></h3>
        <div id="chart2">
          <script type="text/javascript">
          var chart2 = c3.generate({
          bindto: '#chart2',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ expenses_total|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { // ADD
                text: 'Total Expenses (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { // ADD
                text: 'Year',
                position: 'outer-center'
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#b10d21']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
            </script>
          </div>
        </div>
      </div>

      <div class="row top-buffer">
        
        <div class="col-md-6">
          <h3 align="center"> <span style="color:#0db14b"> Government Grants </spna></h3>
          <div id="chart3">
          <script type="text/javascript">
          var chart3 = c3.generate({
          bindto: '#chart3',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ gov_grants|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { // ADD
                text: 'Government Grants (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { // ADD
                text: 'Year',
                position: 'outer-center'
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#0db14b']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
          </script>
          </div>
        </div> 


        <div class="col-md-6">
            <h3 align="center"> <span style="color:#b10d21">Total Wages </span></h3>
        <div id="chart4">
          <script type="text/javascript">
          var chart4 = c3.generate({
          bindto: '#chart4',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ wages_total|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { // ADD
                text: 'Total Wages (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { // ADD
                text: 'Year',
                position: 'outer-center'
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#b10d21']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
            </script>
          </div>
        </div>
        </div> 
      
      

      <div class="row top-buffer">

        <div class="col-md-6">
           <h3 align="center"> <span style="color:#0db14b"> Total Assets </spna></h3>
        <div id="chart">
          <script type="text/javascript">
          var chart = c3.generate({
          bindto: '#chart',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ assets_total|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { // ADD
                text: 'Total Assets (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { // ADD
                text: 'Year',
                position: 'outer-center'
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#0db14b']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
          </script>
        </div>
          
        </div> 
       
      
        <div class="col-md-6">
          <h3 align="center"> <span style="color:#b10d21">Other Liabilities </span></h3>
        <div id="chart6">
          <script type="text/javascript">
          var chart6 = c3.generate({
          bindto: '#chart6',
          size: {
            height: 350,
            width: 550
          },
          data: {
            x: 'x',
            columns: [
              {{ years|tojson }},
              {{ other_liability|tojson }}
            ]
          },
          axis: {
            y: {
              min:0,
              label: { // ADD
                text: 'Other Liabilities (USD)',
                position: 'outer-middle'
              }, 
              tick: {
                      format: function(d) { return "$" + d +'M'; }
                    }
            }, 
            x: {
              label: { // ADD
                text: 'Year',
                position: 'outer-center'
              }
            }
          },
          legend: {
            show: false
          }, 
          color: {
            pattern: ['#b10d21']
          },
          padding:{
            top:10, 
            bottom:10
          }
          });
            </script>
          </div>
        </div>
        </div> 
      </div>   

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

     </div><!-- /.container -->  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
